<mat-toolbar color="primary" style="padding: 0">
  <ion-menu-button style="color: white"></ion-menu-button>
  <div class="logo-container" style="display: flex">
    <!-- <img class="logo" style="height: 80px" src="../assets/aiIcon.png" /> -->
    <img class="logo" src="../assets/ibbloogo.png" />
  </div>
  <span class="example-spacer"></span>
  <a style="color: white" href="/main">
    <mat-icon
      style="margin-right: 20px; height: 30px; width: 30px; font-size: 30px"
      >home</mat-icon
    >
  </a>
</mat-toolbar>

<div class="container-fluid" style="padding: 0 !important">
  <router-outlet></router-outlet>
</div>
