#map{
    height: 92vh; width: 100%;
}
.button-icon{
    font-size: 20px;
    height: 20px;
    width: 20px;
};
.fade:not(.show) {
    opacity: 0;
    display: none!important;
  }
  ion-item-sliding {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 5px;
    padding-bottom: 5px;
}